.our-work_section {
    @media  screen and (max-width: 769px) {
        display: none;
    }
}

.our-work {    
    display: flex;
    margin-left: -30px;
    margin-top: -30px;    
}

.our-work__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.our-work__box {
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
}

.our-work__text {
    font-family: Roboto;    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
    padding: 26px;
    
}