.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 609px;    
    background-color: #ffffff;    
    padding: 40px;
    transition: transform 250ms;
    
    .is-hidden & {
        transform: translate(-50%, -50%) scale(0.1);      
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        width: 528px;
        height: 100%;
        height: 580px
    }
}

.close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.close__btn__icon {
    width: 11px;
    height: 11px;
    fill: #000000;
    
    .close__btn:hover & {
        fill: var(--link-color)
    }
}

.modal__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;    
  }